<template>
    <ai-dialog>
        <ai-dialog-header>${heading}</ai-dialog-header>
        <ai-dialog-body click.delegate="rate($event)" rating.bind="rating.rating">
            <div repeat.for="i of maxRating"
                 data-rate="${i + 1}"
                 class="rate ${i + 1 <= rating ? 'selected' : ''} ${i + 1 == rating ? 'active' : ''}">${i + 1}</div>
        </ai-dialog-body>
        <ai-dialog-footer>
            <script>alert("hi");</script>
            <button click.delegate="cancel()">Cancel</button>
            <button click.delegate="save()">Ok</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>
