<template>
    <div class="container-fluid">
        <form class="form-horizontal form-tranparent">
            <!--<require from="./resources/elements/retrieve-authors"></require>
            <retrieve-authors authors.two-way="dowAuthors"></retrieve-authors> 

            <require from="./resources/elements/retrieve-businesses"></require>
            <retrieve-businesses reviewer.two-way="finalReviewer"></retrieve-businesses>

            <div class="form-group col-sm-12" id="user-space">
                <label class="col-sm-2 control-label">final reviewer</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Name" class="form-control" value.bind="finalReviewer" readonly/>
                </div>
            </div>

            <require from="./resources/elements/retrieve-non-dow-authors"></require>
            <retrieve-non-dow-authors authors.two-way="nonDowAuthors"></retrieve-non-dow-authors>
-->
            <div class="form-group col-sm-12" id="user-space">
                <require from="./resources/elements/welcome"></require>
                <welcome></welcome>
            </div>
                

</form>
    </div>

    

</template>
