<template>
    <section class="container form-inline line-spacing">
        <require from="./resources/elements/retrieve-report-type"></require>
        <retrieve-report-type utility.bind="dataUtility" showreport.bind="showReport"></retrieve-report-type>
    </section>

    <section class="container" show.bind="showReport">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix line-spacing">
                        <h3 class="panel-title">General Information</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 line-spacing">
                                <p><label><span class="error">*</span> Indicates required field</label></p>
                                <require from="./resources/elements/retrieve-businesses"></require>
                                <retrieve-businesses reviewer.two-way="finalReviewer"
                                    success.bind="ctrl[fields.BUSINESS].success"
                                    required.bind="ctrl[fields.BUSINESS].required"
                                    utility.bind="dataUtility" selectedbusinesses.bind="selectedBusinessCapabilities">
                                </retrieve-businesses>

                            </div>
                            <div class="col-sm-7 line-spacing" show.bind="showField(ctrl[fields.FINAL_REVIEWER].flow, fields.FINAL_REVIEWER)">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Final Reviewer
                                        <span if.bind="ctrl[fields.FINAL_REVIEWER].required" class="error">*</span>
                                    </span>
                                    <input type="text" class="form-control" value.bind="finalReviewer" style="background-color:white; -webkit-box-shadow: none; box-shadow: none;" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7">
                                <div show.bind="ctrl[fields.ELN].flow">
                                    <require from="./resources/elements/retrieve-eln"></require>
                                    <retrieve-eln success.bind="ctrl[fields.ELN].success" 
                                        required.bind="ctrl[fields.ELN].required"
                                        utility.bind="dataUtility">
                                     </retrieve-eln>
                                </div>

                                <div show.bind="ctrl[fields.EXPORT_CONTROL].flow">
                                    <require from="./resources/elements/retrieve-export-control"></require>
                                    <retrieve-export-control success.bind="ctrl[fields.EXPORT_CONTROL].success"
                                                  required.bind="ctrl[fields.EXPORT_CONTROL].required"
                                                  utility.bind="dataUtility">
                                    </retrieve-export-control>
                                </div>

                                <div class="input-group line-spacing" show.bind="showField(ctrl[fields.DATABOOK_NUM].flow, fields.DATABOOK_NUM)">
                                    <span css.bind="isError(ctrl[fields.DATABOOK_NUM].success)" class="input-group-addon">
                                        Databook Number
                                        <span show.bind="ctrl[fields.DATABOOK_NUM].required" class="error">*</span>
                                    </span>
                                    <input id="databookNumber" type="text" class="form-control" placeholder="123456789" value.bind="databookNumber & debounce:1000" />
                                </div>

                                <div class="input-group line-spacing" show.bind="showField(ctrl[fields.REPORT_NUM].flow, fields.REPORT_NUM)">
                                    <span css.bind="isError(ctrl[fields.REPORT_NUM].required)" class="input-group-addon">
                                        Report Number
                                        <span show.bind="required" class="error">*</span>
                                    </span>
                                    <input id="reportNumber" type="text" class="form-control" value.bind="reportNumber" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-block">Select Lab Number</button>
                                    </span>
                                </div>

                                <div class="input-group line-spacing" show.bind="showField(ctrl[fields.REPORT_DATE].flow, fields.REPORT_DATE)">
                                    <span css.bind="isError(ctrl[fields.REPORT_DATE].required)" class="input-group-addon">
                                        Report Date
                                        <span show.bind="required" class="error">*</span>
                                    </span>
                                    <input id="reportDate" type="text" class="form-control" value.bind="reportDate" />

                                </div>

                            </div>
                        </div><!-- end row-->
                              
                    </div> <!-- end panel-body -->
                </div>
            </div>
        </div>
    </section>

    <section class="container" show.bind="showReport">
        <button type="button" class="btn btn-default" click.delegate="submit()">Submit</button>
        <button type="button" class="btn btn-default" click.delegate="cancel()">Cancel</button>
    </section>
</template>
