<script src="~/wwwroot/jspm_packages/system.js"></script>
<script src="~/wwwroot/config.js"></script>
<script>
    System.import("aurelia-bootstrapper");
</script>
<h1>hello</h1>
<div id="contact-api" aurelia-app="~/wwwroot/Configurations/contact">

</div>