<script src="~/wwwroot/jspm_packages/system.js"></script>
<script src="~/wwwroot/config.js"></script>
<script>
    System.import("aurelia-bootstrapper");
</script>

<div aurelia-app="~/wwwroot/Configurations/rating">

</div>

